:root {
  --text-color: #e7ad52;
  --soprano-color: #7fb0ff;
  --alto-color: #b0ff7f;
  --tenor-color: #ffce7f;
  --bass-color: #ce7fff;
}

/* reveal.js overrides for dynamic presentation */
.reveal .dynamic {
  max-width: none;
  max-height: none;
  margin: 0;
  border: none;
  overflow: hidden;
  /* Prevent this div from adding any height. */
  font-size: 0;
  text-align: left;
  transition: opacity 0.2s ease;
}

.reveal section[data-musicxml] svg path,
.reveal section[data-musicxml] svg {
  stroke: white;
  stroke: var(--text-color);
  fill: white;
  fill: var(--text-color);
}

.reveal section[data-musicxml] svg g {
  /* mix-blend-mode makes overlapping elements brighten eachother up. */
  mix-blend-mode: hard-light;
}

.reveal section[data-musicxml] svg g.voice0 {
  stroke: var(--soprano-color);
  fill: var(--soprano-color);
}
.reveal section[data-musicxml] svg g.voice1 {
  stroke: var(--alto-color);
  fill: var(--alto-color);
}
.reveal section[data-musicxml] svg g.voice2 {
  stroke: var(--tenor-color);
  fill: var(--tenor-color);
}
.reveal section[data-musicxml] svg g.voice3 {
  stroke: var(--bass-color);
  fill: var(--bass-color);
}

.reveal.reveal .slides > section,
.reveal.reveal .slides > section > section {
  padding: 0px;
}
