/** Changes for Verovio presentation. **/
.reveal section[data-musicxml] svg path,
.reveal section[data-musicxml] svg g.note,
.reveal section[data-musicxml] svg {
  stroke: $mainColor;
  fill: $mainColor;
}
.reveal section[data-musicxml] svg .highlightedNote path,
.reveal section[data-musicxml] svg g.note.highlightedNote,
.reveal section[data-musicxml] svg .highlightedNote {
  stroke: $linkColor !important;
  fill: $linkColor !important;
}

/* reveal.js overrides for dynamic presentation */
.reveal section[data-musicxml] {
  /* Prevent this div from adding any height. */
  font-size: 0;
}

/** Changes for PianoRoll Presentation. **/
/* Pick tetradic colors based from the linkColor,
   Then four more tetradic colors starting from an analogous color.*/
$voiceColors: (
  'voice0': $linkColor,
  'voice1': adjust-hue($linkColor, 120deg),
  'voice2': adjust-hue($linkColor, 180deg),
  'voice3': adjust-hue($linkColor, 300deg),
  'voice4': adjust-hue($linkColor, 30deg),
  'voice5': adjust-hue($linkColor, 150deg),
  'voice6': adjust-hue($linkColor, 210deg),
  'voice7': adjust-hue($linkColor, 330deg)
);

@each $name, $color in $voiceColors {
  .reveal section[data-musicxml] svg g.#{$name} {
    stroke: $color;
    fill: $color;
  }
  .reveal section[data-musicxml] svg g.#{$name}.highlightedNote {
    stroke: $mainColor !important;
    fill: $mainColor !important;
  }
}

/* Allow different verses to be distinguished. */
.reveal
  section[data-musicxml]
  svg
  g[class^='voice']
  text:not([data-verse-num='1']) {
  font-style: italic;
}

/** Changes for Text Presentation. **/
div.header {
  overflow: auto;
}
div.header span.title {
  font-size: 120%;
  display: block;
}
div.header span.lyricist {
  float: left;
  font-size: 80%;
}
div.header span.composer {
  float: right;
  font-size: 80%;
}
/* Allow different verses to be distinguished. */
.reveal section[data-musicxml] p[data-verse-num]:not([data-verse-num='1']) {
  font-style: italic;
}
p[data-verse-num] span {
  transition: border-bottom 0.1s;
  border-bottom: 0 solid $linkColor;
}
p span.highlightedNote {
  color: $linkColor;
  border-bottom: 10px solid $linkColor;
}

/** General changes. **/
.reveal.reveal .slides > section,
.reveal.reveal .slides > section > section {
  padding: 0px;
}

/** Changes for MIDI player **/
@import '../midi-player/midiplayer.css';
#midiPlayer_div {
  position: absolute;
  z-index: 1;
  background: transparent;
  color: $mainColor;
}
#midiPlayer_progress {
  background: $linkColor !important;
}
#midiPlayer_bar#midiPlayer_bar {
  background: $mainColor;
}
/* Don't use MIDI Player's play/pause/stop buttons so we can track the status. */
#midiPlayer_div .icon {
  display: none !important;
}
