/* Load the theme (with the scss variables) */
@import 'reveal.js/css/theme/source/serif.scss';
@import 'dynamic';

/* Monospace Font: Cutive Mono */
@import url(https://fonts.googleapis.com/css?family=Cutive+Mono);
.reveal section[data-musicxml] svg {
  font-family: 'Cutive Mono', monospace;
}

/* Verovio Text Font: Times New Roman */
@font-face {
  font-family: 'Tinos';
  font-style: normal;
  src: url(../fonts/Tinos.woff2) format('woff2');
}
.reveal.reveal section[data-musicxml] svg g.page-margin {
  font-family: 'Times New Roman', 'Times', 'Liberation Serif', 'Tinos', serif;
}

/* Verovio SMuFL Font: Leipzig */
html {
  font-family: Leipzig;
}

/* Mix voice colors for light background */
.reveal section[data-musicxml] svg {
  g.voice0,
  g.voice1,
  g.voice2,
  g.voice3,
  g.voice4,
  g.voice5,
  g.voice6,
  g.voice7 {
    opacity: 0.7;
  }
}
