/* Load the theme (with the scss variables) */
@import 'reveal.js/css/theme/source/blood.scss';
@import 'dynamic';

/* Monospace Font: Ubuntu Mono */
@import url(https://fonts.googleapis.com/css?family=Ubuntu+Mono);
.reveal section[data-musicxml] svg {
  font-family: 'Ubuntu Mono', monospace;
}

/* Verovio Text Font: Liberation Serif */
@import url(https://fonts.googleapis.com/css?family=Tinos);
.reveal.reveal section[data-musicxml] svg g.page-margin {
  font-family: 'Liberation Serif', 'Tinos', 'Times New Roman', 'Times', serif;
}

/* Verovio SMuFL Font: Petaluma */
html {
  font-family: Petaluma;
}

/* Mix voice colors for dark background */
.reveal section[data-musicxml] svg {
  g.voice0,
  g.voice1,
  g.voice2,
  g.voice3,
  g.voice4,
  g.voice5,
  g.voice6,
  g.voice7 {
    mix-blend-mode: screen;
    isolation: isolate;
  }
}
