[submodule "musicxmlTestSuite"]
	path = musicxmlTestSuite
	url = https://github.com/cuthbertLab/musicxmlTestSuite.git
[submodule "midi-player"]
	path = midi-player
	url = https://github.com/christian-classics-ethereal-library/midi-player.git
